.layout {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: #343a40;
    color: white;
    padding: 15px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  .layout .header .header-nav{display: flex; align-items: center; gap: 10px;}
.layout .header .header-nav p{margin: 0; letter-spacing: 0.9px;}
  
  .header h1 {
    margin: 0;
    font-size: 18px;
  }
  
  .header-nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .header-nav a:hover {
    text-decoration: underline;
  }
  
  /* Sidebar styling */
  .sidebar {
    width: 225px;
    background-color: #f8f9fa;
    padding: 20px;
    position: fixed;
    top: 55px; 
    left: 0;
    bottom: 0;
    height: 100%; 
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 11px;
    padding: 6px;
  }
  
  .sidebar nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .sidebar nav ul li a:hover {
    color: #007bff;
  }
  
  
  