<div class="main">
    <app-header></app-header>
    <section class="it-company-hero-area text-center it-company-bg-two position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Transform Your Ideas into Reality with your, <br>Custom website as per requirement</h3>
                    <h1 class="it-company-hero-title it-company-color fs-64 mb-30">Bulid Your digital Presence</h1>
                    <p class="clr-paragraph fs-18 fw-500 flh-28 mb-40">
                        Custom website Design, Digital marketing, eCommerce integration, Responsive Design, WabApps and Single Page Application, Lead Generation, Brand Design.
                    </p>
                    <a routerLink="contact" class="btn rounded-5 text-white fs-16">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <section class="it-company-about-area ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <h2 class="it-company-title mb-80">Since 2024, we have been creating tailor-made</h2>
                </div>
            </div>
            <div class="position-relative">
                <div class="it-company-custom-border position-absolute z--1"></div>
                <div class="row justify-content-between">
                    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-10">
                        <div class="it-company-about-testimonial blue-background position-relative">
                            <img src="it_company/about_testi_icon.png" alt="" class="mb-20">
                            <p class="it-company-color fw-500 flh-24 mb-20">If you always do what you've always done,
                                you'll always get what you've always got</p>
                            <!-- <h6 class="text-black">Omparaksh Prajapati</h6> -->
                            <p class="clr-paragraph">CEO Of OKDIGITECH</p>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-6">
                        <div class="it-company-about-box it-company-bg it-company-bg-row p-5 mt--170">
                            <h3>01</h3>
                            <div class="it-about-content">
                                <h5> Brand Analysis For Your Business </h5>
                                <p class="mb-0">Enthusiastically myocardinate technically sound
                                    innovation whereas orthogonal markets. Interactively recaptiualize.</p>
                            </div>
                        </div>
                        <div class="pl-40">
                            <h6 class="clr-paragraph mt-40">Distinctively initiate viral ideas for goal-oriented
                                <br> partnerships. Appropriately network.</h6>
                            <div class="follow-us-row mt-30">
                                <a routerLink="company" class="btn rounded-5 text-white fs-16">About US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="it-company-support-area ptb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="service-title">
                        <h2 class="">24/7 Chat Support for OKDIGITECH Desk Users</h2>
                    </div>
                    <p>Distinctively initiate viral ideas for goal-oriented partnerships. Appropriately network cross-media opportunities with cross-platform total linkage.</p>
                    <a routerLink="contact" class="btn text-white rounded-5">Contact Now</a>
                </div>
                <div class="col-lg-6">
                    <img src="it_company/support.png" class="img-fluid"/>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
