<app-aside></app-aside>
<div class="content">
    <div class="manage-row">
        <div class="mTitle">Manage Blog</div>
        <div class="mButton"><button (click)="addBlogPopup()" data-bs-toggle="modal" data-bs-target="#createBlog"><span>+</span> Create blog</button></div>
    </div>
    <div class="serach-box">
        <input type="search" class="form-control" [(ngModel)]="searchTerm" placeholder="Search...."/>
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
    <div class="table-data" *ngIf="blog_data.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Slug</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let blog of blog_data | search:searchTerm:'title'; let i=index;">
                    <td scope="row">{{i+1}}</td>
                    <td><img [src]="image_get_url + blog.image_url" alt="{{blog.title}}" width="25" height="25" *ngIf="blog.image_url"/></td>
                    <td><p>{{blog.title}}</p></td>
                    <td><p>{{blog.slug}}</p></td>
                    <td class="td-row">
                        <button class="btn-green" (click)="editBlog(blog.id)" data-bs-toggle="modal" data-bs-target="#createBlog"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn-red" (click)="deleteBlog(blog.id)"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- model -->
<div class="modal fade" id="createBlog" tabindex="-1" aria-labelledby="createBlogLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createBlogLabel">{{popup_header}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="blogForm">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" placeholder="Title" formControlName="title">
                </div>
                <div class="form-group mb-2">
                    <input type="file" id="image_url" (change)="onFileSelected($event)" accept="image/*" class="form-control">
                    <input *ngIf="selectedFileName" type="hidden" value="{{selectedFileName}}"/>
                </div>
                <div class="form-group mb-2 mt-3">
                    <div class="editor-wrapper">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                        <ngx-editor [editor]="editor" [(ngModel)]="editorContent" [placeholder]="'Type here...'" formControlName="description"></ngx-editor>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addNewBlog()" *ngIf="add_blog" [disabled]="blogForm.invalid">Create Blog</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="udpateBlog()" *ngIf="edit_blog" [disabled]="blogForm.invalid">Update Blog</button>
        </div>
      </div>
    </div>
  </div>
 <!-- model -->